* {
    box-sizing: border-box;
    margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  padding-top: 0;
  text-align: right;
}

.brand-logo {
  font-family: 'Marck Script', cursive;
  margin-left: 20px;
}

.home-container {
  width: 100vw;
  height: 100%;
  background-image: url("../images/home2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
} */


