{% extends 'base.html' %} {% block content %}

<h3>Watchlist</h3>

{% for home in homes %}
<div class="card">
  {% comment %} <img class="activator" src="{{photo.url}}"> {% endcomment %}
  <a href="{% url 'detail' home.id %}">
    <div class="card-content">
      <span class="card-title">{{ home.address }}</span>
      <p>Beds: {{ home.beds }}</p>
      <p>Baths: {{ home.baths }}</p>
      <p>Sq Ft: {{ home.sqft }}</p>
      <p>Description: {{ home.description }}</p>
    </div>
  </a>
</div>
{% endfor %} {% endblock %}
